.idea/
obj/
bin/
.vscode/
.idea/*
obj/*
bin/*
.vscode/*
LibraryManagement/obj/
LibraryManagement/bin/
LibraryManagement/.idea/
LibraryManagement/.vscode/
LibraryManagement/obj/*
LibraryManagement/bin/*
LibraryManagement/.idea/*
LibraryManagement/.vscode/*
.meta
LibraryManagement/.meta